---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Under Review / In Preparation</h2><hr />
<p style="color:#777;font-size:0.9em;">Manuscripts available upon request.</p>

<div class="list__item">
  <article class="archive__item">
    <p><strong>Jue Wang</strong>, Mingsong Jiang, Luis Ramirez, Bilige Yang, Mujun Zhang, Esteban Figueroa, Rebecca Kramer-Bottiglio. "Surrogate Compliance Modeling Enables Reinforcement Learned Locomotion Gaits for Soft Robots." <i>Science Robotics</i> (under peer-review). <a href="https://doi.org/10.48550/arXiv.2512.07114">arXiv</a></p>
    <p>Rawan Omar, <strong>Jue Wang</strong>, Teresa Nguyen, Veronica Kushner, Julie Orlando, Laura Prosser, Celia Reina, David Cereceda, Rebecca Kramer-Bottiglio. "Calibration-free Fabric Wearable Motion Capture Across Users and Body Scales." <i>Nature Sensors</i> (under peer-review).</p>
    <p>Bilige Yang, <strong>Jue Wang</strong>, Jiefeng Sun, Esteban Figueroa, Luis Ramirez, Brandon Lin, Mingsong Jiang, Erico Marroquin, Robert Bains, Frank Fish, Rebecca Kramer-Bottiglio. "Energy-aware Locomotive Adaptations for Efficient Cross-Domain Robotics." <i>Nature Machine Intelligence</i> (submitted).</p>
    <p>Michael Sotzing, John Toribio, Pritish Aklujkar, Mina Lee, <strong>Jue Wang</strong>, Gregory Sotzing, Alex Chortos. "Recyclable Copper Composite Inks Processed at Low Temperature Enabled by Hemp-Derived Antioxidants." <i>Energy & Environmental Science</i> (submitted).</p>
    <p><strong>Jue Wang</strong>, Luis Ramirez, Esteban Figueroa, Rebecca Kramer-Bottiglio. "Towards a Deep Water Amphibious Robotic Turtle Design." <i>RoboSoft</i> (under peer-review).</p>
    <p><strong>Jue Wang</strong>, Luis Ramirez, et al., Rebecca Kramer-Bottiglio. "Real-to-Sim-to-Real Reinforcement Learning for Underwater Locomotion of an Amphibious Robotic Turtle." (in preparation).</p>
    <p>Luis Ramirez, <strong>Jue Wang</strong>, et al., Rebecca Kramer-Bottiglio. "When Shape Morphing Is Worth It." (in preparation).</p>
  </article>
</div>

